*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Saira Condensed';
    src: url('../../Saira_Condensed/SairaCondensed-Medium.ttf');
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../App/Bebas_Neue/BebasNeue-Regular.ttf');
}


.dados-podcast i{
    font-size: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 51, 0);
}

.oculto{
    visibility: hidden;
}

body{
    width: 100%;
    height: 100vh;
    background-color: white;
    color: rgb(26, 26, 26);
}

#container-geral{
    display: flex;
    width: 100%;
    height: 100vh;
    /* background-color: ; */
    /* background-repeat: no-repeat; */
}

header{
    width: 20%;
    height: 100vh;
}

#nav{
    /* width: 0%; */
    height: 100%;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

#logo{
    position: absolute;
    width: 130px;
    height: 130px;
    text-align: center;
    top: 30px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* margin-left: 40px; */
    list-style: none;
    font-size: 20px;
    color: rgb(26, 26, 26);
}

.menu li > i{
    transition: .7s;
}

.menu li > i:hover{
    cursor: pointer;
    transition: .7s;
    color: rgb(255, 51, 0);
}


#player{ 
    position: relative;
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    /* background-color: aqua; */
    /* margin: 0px auto; */
    display: none;
}

#musicaAtual{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 51, 0, 0.582); */
}
.dados{
    width: 300px;
    height: 400px;
    font-family: 'Saira Condensed';
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    /* background-color: black; */
}
    .dados img{
        width: 25vw;
        height: 50%;
        border-radius: 5px;
    }

    #nome-musica{
        line-height: 30px;
        text-align: center;
        color: rgb(26, 26, 26);
        margin: 10px;
    }
    #artista{
        text-align: center;
        color: rgb(26, 26, 26);
        font-size: 20px;
        /* margin-top: 10px; */

    }

.barra{
    margin-top: -50px;
    display: flex;
    width: 300px;
    height: 10px;
    border-radius: 15px;
    background-color: rgb(26, 26, 26);
    /* border: 1px solid white; */
    align-items: center;
    margin-bottom: 10px;
}

#progresso{
    width: 0%;
    height: 10px;
    background-color: rgb(255, 51, 0);
}

.ponto{
    margin-left: -7px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(255, 51, 0, 0.966);
}

.tempo{
    color: rgb(26, 26, 26);
    font-family: 'Saira Condensed';
    width: 300px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}

.btns{
    display: flex;
    align-items: center;
    gap: 30px;
}
.btns button{
    color: rgb(26, 26, 26);
    border: none;
    width: 35px;
    height:35px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    transition: .5s;
  
        box-shadow: 2px -2px 13px -5px rgb(54, 54, 54);
}

.btns button:hover{
    cursor: pointer;
    transition: .5s;
    background-color: white;
    color: rgb(255, 51, 0);
}

#pause, #play{
    background-color: white;
    color: rgb(255, 51, 0);
    width: 50px;
    height: 50px;
}
#pause{
    display: none;
}


.playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

    .playlist ul{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
        /* padding-top: 500px; */
        height: 70vh;
        overflow-y: scroll;
        /* background-color: rgb(255, 145, 0); */
        /* box-sizing: border-box; */
    }

    #lista::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }
    #lista::-webkit-scrollbar {
        width: 4px;
        background: #F4F4F4;
    }
    #lista::-webkit-scrollbar-thumb {
        background: rgba(255, 51, 0, 0.507);
        border-radius: 15px;
    }



    .playlist p:nth-child(1){
        color: rgb(26, 26, 26);
        font: 15px 'Saira Condensed';
        /* padding-top: 2  00px; */
    }
    .playlist li p span{
        /* color: black; */
        font-family: 'Saira Condensed';
        font-size: 15px;
        font-weight: bold;
    }

    .playlist li{
        list-style-type: none;
        /* background-color: rgb(255, 8, 8); */
        color: black;
        width: 300px;
        height: 80px;
        /* padding: 10px; */
        /* border-radius: 7px; */
        margin: 10px 10px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        z-index: 1000000;
        font-family: 'Saira Condensed';
        gap: 10px;
        /* box-shadow: 0px 10px 10px -5px rgb(54, 54, 54); */
        border-bottom: 1px solid rgba(126, 125, 125, 0.71);
        transition: .5s;

        /* overflow: scroll; */
    }

 
    
    .playlist li:hover{
        cursor: pointer;
        transition: .5s;
        color: rgb(26, 26, 26);
        background-color: rgba(255, 51, 0, 0.966);
        /* box-shadow: 0px -2px 20px -5px rgb(0, 0, 0); */
        padding: 10px;
        /* font-size: 19px; */

        /* border: 1px solid white; */
    }


    .playlist img{
        width: 35px;
        height: 35px;
    }



@media (max-width: 700px) {

    .barra{
        margin-top: -60px;
    }

    .dados{
        margin-top: 40px;
    }
    .dados img{
        background-color: aqua;
        width: 80%;
        height: 50%;
    }
    .btns{
        margin: 0;
    }
    .btns button{
        width: 40px;
        height: 40px;
       font-size: 30px;
    }

    #player{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
        overflow: hidden;
    }

    #musicaAtual{
        margin: 0;
        width: 100%;
        height: 80vh;
        background-color: aqua;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .playlist{
        width: 100%;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: row;
        justify-content: center;
        /* background-color: ; */
    }

    .playlist li{
        position: relative;
        background-color: transparent;
     
        padding: 0;
        width: 230px;
        height: 230px;
        color: rgb(26, 26, 26);
        
        justify-content: center;
        align-items: center;
        box-shadow: none;
      
        border: none;
        border-radius: 5px;
    
    }
    .playlist ul{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
        
    }

    .playlist li{
        height: 100%;
        padding: 10px;
    }
    .playlist li p{
        width: 300px;
    
    }

}

@media (max-width: 412px) {

    header{
        display: none;
    }

    #player{
        width: 100%;
    }


    .playlist{
        margin-left: 15px;
    }
    .playlist > .item-playlist img{
        width: 20px;
    }
}

/************* PODCAST *********** */


#podcasts{
    position: relative;
    width: 80%;
    height: 100vh;
    display: flex;
    background-color: white;
    font-family: 'Bebas Neue';
}

.dados-podcast{
    margin: 0;
    position: absolute;
    /* width: 100%; */
    /* background-color: aqua; */
    /* height: 100vh; */
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
}





/************* RADIO *********** */



#container-radio{

    /* margin-right: 20%; */
    position: relative;
    width: 80%;
    height: 100vh;
    /* background-color: black; */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-radio video{
    position: absolute;
    /* width: cover; */
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
}

.radio{
    /* position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%); */
    margin-right: 20%;
    width: 200px;
    height: 200px;
    /* background-color: aqua; */
    font-family: 'Saira Condensed';
    text-align: center;
    color: rgb(255, 51, 0);
}

.iconSpan{
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    gap: 10px;
    width: 200px;
    height: 100px;
    /* background-color: black; */
}

.iconSpan span:nth-child(1){
    /* content: ''; */
    width: 10px;
    height: 40px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    animation: animaSpan1 alternate-reverse 1s infinite;
}

.iconSpan span:nth-child(2){
    /* content: ''; */
    width: 10px;
    height: 70px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    animation: animaSpan2 alternate 1s infinite;

}

.iconSpan span:nth-child(3){
    /* content: ''; */
    width: 10px;
    height: 100px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    animation: animaSpan3 alternate 1s infinite;

}

.iconSpan span:nth-child(4){
    /* content: ''; */
    width: 10px;
    height: 70px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    animation: animaSpan4 alternate 1s infinite;

}

.iconSpan span:nth-child(5){
    /* content: ''; */
    width: 10px;
    height: 40px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    animation: animaSpan5 alternate-reverse 1s infinite;

}

@keyframes animaSpan1{
    
    0%{
        height: 40px;
    }

    100%{
        height: 1px;
    }
}

@keyframes animaSpan2{
    
    0%{
        height: 70px;
    }

    100%{
        height: 35px;
    }
}

@keyframes animaSpan3{
    
    0%{
        height: 100px;
    }

    100%{
        height: 40px;
    }
}

@keyframes animaSpan4{
    
    0%{
        height: 70px;
    }

    100%{
        height: 35px;
    }
}

@keyframes animaSpan5{
    
    0%{
        height: 40px;
    }

    100%{
        height: 1px;
    }
}

.btnsRadio{
    margin-right: 20%;
    position: absolute;
    top: 80%;
    width: 80%;
    height: 10vh;
    /* background-color: aquamarine; */
    /* align-self: flex-end; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    gap: 10px;
}


.btnsRadio button{
    background-color: transparent;
    font-size: 40px;
    padding: 10px;
    color: rgb(26, 26, 26);
    border: 1px solid rgba(54, 54, 54, 0.055);
    border-radius: 3px;
    line-height: 40px;
    box-shadow: -7px 10px 5px 0px rgba(26, 25, 25, 0.71);
    -webkit-box-shadow: -2px 2px 10px 0px rgba(31, 30, 30, 0.71);
    -moz-box-shadow: -7px 10px 5px 0px rgba(54, 53, 53, 0.71);
    transition: .5s;
}

.btnsRadio button:hover{
    transition: .5s;
    background-color: rgb(26, 26, 26);
    color: rgb(255, 51, 0);
    cursor: pointer;
}

